*{
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
}

div{
    border: 1px solid;
    width: 500px;
}
h1{
    text-align: center;
}
label{
    display: flex;
    margin-top: 20px;
    position: relative;
    margin-left: 50px;
}
input, textarea{
    position: absolute;
    left: 100px;
}
#year{
    width: 50px;
}
#sm1, #sm2, #sum{
    display: block;
    width: 200px;
}
div{
    text-align: center;
}
button{
    margin-top: 20px;
    text-align: center;
    margin: 20px 10px 0;
}